
<body>
    <div class="main-content">
        <section class="container-fluid">
            <article>
                <span>Documents</span>
            </article>
        </section>

        <section class="aside-pc">
            <!--PC-->
            <div class="container-fluid">
                <div class="row" id="row-1">
                    <div class="space col-1"></div>
                    <div class="col-1 icon">
                        <i class="ms-Icon ms-Icon--Page ms-fontColor-black"></i>
                    </div>
                    <div class="col-3 name">
                        <span class="flex-box">
                            <span>Name</span>
                            <i class="ms-Icon ms-Icon--ChevronDown ms-fontColor-neutralSecondaryAlt"></i>
                        </span>
                    </div>
                    <div class="col-2 modify">
                        <span class="flex-box">
                            <span>Modify</span>
                            <i class="ms-Icon ms-Icon--ChevronDown ms-fontColor-neutralSecondaryAlt"></i>
                        </span>
                    </div>
                    <div class="col-2 modify">
                        <span class="flex-box">
                            <span>Modify By</span>
                            <i class="ms-Icon ms-Icon--ChevronDown ms-fontColor-neutralSecondaryAlt"></i>
                        </span>
                    </div>
                    <div class="col option">
                        <span class="flex-box">
                            <i class="ms-Icon ms-Icon--Add ms-fontColor-black"></i>
                            <span>Add column</span>
                        </span>
                    </div>
                </div>
                <div id="tbData">

                </div>

            </div>


        </section>
    </div>




    <section class="aside-mobile">

        <div class="card">
            <div class="card-item-header">
                <span class="span-title">File Type</span>
                <img src="https://spoprod-a.akamaihd.net/files/fabric/assets/item-types/20/folder.svg?v6" width="16px"
                     height="16px">
            </div>
            <div class="card-item row">
                <span class="span-title col-3">Name</span>
                <span class="span-content col-8">CAS</span>
            </div>
            <div class="card-item row">
                <span class="span-title col-3">Modified</span>
                <span class="span-content col-8">April 30</span>
            </div>
            <div class="card-item row">
                <span class="span-title col-3">Modified By</span>
                <span class="span-content col-8">Megan Bowen</span>
            </div>
        </div>
        <div class="card">
            <div class="card-item-header">
                <span class="span-title">File Type</span>
                <img src="https://spoprod-a.akamaihd.net/files/fabric/assets/item-types/20/xlsx.svg?v6" width="16px"
                     height="16px">
            </div>
            <div class="card-item row">
                <span class="span-title col-3">Name</span>
                <span class="span-content col-8">CoasterAndBargeLoading.xlsx</span>
            </div>
            <div class="card-item row">
                <span class="span-title col-3">Modified</span>
                <span class="span-content col-8">A few seconds ago</span>
            </div>
            <div class="card-item row">
                <span class="span-title col-3">Modified By</span>
                <span class="span-content col-8">Administrator MOD</span>
            </div>
        </div>
        <div class="card">
            <div class="card-item-header">
                <span class="span-title">File Type</span>
                <img src="https://spoprod-a.akamaihd.net/files/fabric/assets/item-types/20/xlsx.svg?v6" width="16px"
                     height="16px">
            </div>
            <div class="card-item row">
                <span class="span-title col-3">Name</span>
                <span class="span-content col-8">RevernueByServices.xlsx</span>
            </div>
            <div class="card-item row">
                <span class="span-title col-3">Modified</span>
                <span class="span-content col-8">A few seconds ago</span>
            </div>
            <div class="card-item row">
                <span class="span-title col-3">Modified By</span>
                <span class="span-content col-8">Administrator MOD</span>
            </div>
        </div>
        <div class="card">
            <div class="card-item-header">
                <span class="span-title">File Type</span>
                <img src="https://spoprod-a.akamaihd.net/files/fabric/assets/item-types/20/xlsx.svg?v6" width="16px"
                     height="16px">
            </div>
            <div class="card-item row">
                <span class="span-title col-3">Name</span>
                <span class="span-content col-8">RevernueByServices2016.xlsx</span>
            </div>
            <div class="card-item row">
                <span class="span-title col-3">Modified</span>
                <span class="span-content col-8">A few seconds ago</span>
            </div>
            <div class="card-item row">
                <span class="span-title col-3">Modified By</span>
                <span class="span-content col-8">Administrator MOD</span>
            </div>
        </div>
        <div class="card">
            <div class="card-item-header">
                <span class="span-title">File Type</span>
                <img src="https://spoprod-a.akamaihd.net/files/fabric/assets/item-types/20/xlsx.svg?v6" width="16px"
                     height="16px">
            </div>
            <div class="card-item row">
                <span class="span-title col-3">Name</span>
                <span class="span-content col-8">RevernueByServices2017.xlsx</span>
            </div>
            <div class="card-item row">
                <span class="span-title col-3">Modified</span>
                <span class="span-content col-8">A few seconds ago </span>
            </div>
            <div class="card-item row">
                <span class="span-title col-3">Modified By</span>
                <span class="span-content col-8">Administrator MOD</span>
            </div>
        </div>
    </section>
</body>

@section Scripts{
    <script src="~/js/loadData.js"></script>
    <script src="~/js/uploadFile.js"></script>
    <script src="~/js/editFile.js"></script>
    <script src="~/js/deleteFile.js"></script>
} 